In [2]:
#DATA CLEANING SCRIPT
import pandas as pd
import numpy as np
import re
import sys

# Redirect output to both console and file for Part 1
class DualOutput:
    def __init__(self, filename):
        self.terminal = sys.stdout
        self.log = open(filename, "w", encoding="utf-8")
    def write(self, message):
        self.terminal.write(message)
        self.log.write(message)
    def flush(self):
        self.terminal.flush()
        self.log.flush()

sys.stdout = DualOutput("Dubai_House_Prediction.txt")

# ==============================
# Step 1: Display first few rows
# ==============================
file_path = r"D:\Labmentix\Project1\dubai_properties.csv"   # Change to your CSV file path
df = pd.read_csv(file_path)

print("First 5 rows of the dataset:")
print(df.head())
print(df.tail())

# =======================================
# Step 2: Dataset Columns
# =======================================
print("\n\n\ndataset columns:")
print(df.columns)

# =======================================
# Step 3: Data Types
# =======================================
print("\n\n\nData Types:")
print(df.dtypes)
# =======================================
# Step 4: Identify Missing Values
# =======================================
print("\n\n\nMissing Values in Each Column:")
print(df.info())
print(df.isnull().sum())

# ===================================================================================
# Step 5: Data Cleaning - Remove rows with only special characters or NaN in any cell
# ===================================================================================
def contains_only_special_chars(value):
    if pd.isna(value):
        return True
    return bool(re.fullmatch(r'[^a-zA-Z0-9]+', str(value)))

df_cleaned = df[~df.applymap(contains_only_special_chars).any(axis=1)]

print("\n\n\nAfter cleaning (removing rows with only special characters or NaN in any column):")
print(df_cleaned.head())

# Save cleaned data for Part 2
cleaned_file_path = "Dubai_House_Prediction.csv"
df_cleaned.to_csv(cleaned_file_path, index=False)
print(f"\n\n\nCleaned data saved to {cleaned_file_path}")

# Restore stdout
sys.stdout.log.close()
sys.stdout = sys.stdout.terminal

First 5 rows of the dataset:
                                             Address    Rent  Beds  Baths  \
0  The Gate Tower 2, The Gate Tower, Shams Gate D...  124000     3      4
1                Water's Edge, Yas Island, Abu Dhabi  140000     3      4
2            Al Raha Lofts, Al Raha Beach, Abu Dhabi   99000     2      3
3  Marina Heights, Marina Square, Al Reem Island,...  220000     3      4
4                    West Yas, Yas Island, Abu Dhabi  350000     5      7

        Type  Area_in_sqft  Rent_per_sqft Rent_category Frequency  \
0  Apartment          1785      69.467787        Medium    Yearly
1  Apartment          1422      98.452883        Medium    Yearly
2  Apartment          1314      75.342466        Medium    Yearly
3  Penthouse          3843      57.246942          High    Yearly
4      Villa          6860      51.020408          High    Yearly

    Furnishing   Purpose Posted_date  Age_of_listing_in_days        Location  \
0  Unfurnished  For Rent  07-03-2024                      45  Al Reem Island
1  Unfurnished  For Rent  08-03-2024                      44      Yas Island
2    Furnished  For Rent  21-03-2024                      31   Al Raha Beach
3  Unfurnished  For Rent  24-02-2024                      57  Al Reem Island
4  Unfurnished  For Rent  16-02-2024                      65      Yas Island

        City   Latitude  Longitude
0  Abu Dhabi  24.493598  54.407841
1  Abu Dhabi  24.494022  54.607372
2  Abu Dhabi  24.485931  54.600939
3  Abu Dhabi  24.493598  54.407841
4  Abu Dhabi  24.494022  54.607372
                                      Address   Rent  Beds  Baths       Type  \
73737  Al Huboob 1, Al Salamah, Umm Al Quwain  14000     0      1  Apartment
73738     Umm Al Quwain Marina, Umm Al Quwain  14000     0      1  Apartment
73739       King Faisal Street, Umm Al Quwain  50000     3      4  Apartment
73740                Al Maqtaa, Umm Al Quwain  37000     1      2  Apartment
73741                  Al Rass, Umm Al Quwain  11000     0      1  Apartment

       Area_in_sqft  Rent_per_sqft Rent_category Frequency   Furnishing  \
73737           419      33.412888           Low    Yearly  Unfurnished
73738           500      28.000000           Low    Yearly  Unfurnished
73739          2000      25.000000           Low    Yearly  Unfurnished
73740           989      37.411527           Low    Yearly  Unfurnished
73741           300      36.666667           Low    Yearly  Unfurnished

        Purpose Posted_date  Age_of_listing_in_days              Location  \
73737  For Rent  14-12-2023                     129            Al Salamah
73738  For Rent  14-12-2023                     129  Umm Al Quwain Marina
73739  For Rent  02-01-2024                     110    King Faisal Street
73740  For Rent  23-10-2023                     181             Al Maqtaa
73741  For Rent  12-02-2024                      69               Al Rass

                City   Latitude  Longitude
73737  Umm Al Quwain  25.493412  55.575994
73738  Umm Al Quwain  25.527959  55.606527
73739  Umm Al Quwain        NaN        NaN
73740  Umm Al Quwain        NaN        NaN
73741  Umm Al Quwain        NaN        NaN



dataset columns:
Index(['Address', 'Rent', 'Beds', 'Baths', 'Type', 'Area_in_sqft',
       'Rent_per_sqft', 'Rent_category', 'Frequency', 'Furnishing', 'Purpose',
       'Posted_date', 'Age_of_listing_in_days', 'Location', 'City', 'Latitude',
       'Longitude'],
      dtype='object')



Data Types:
Address                    object
Rent                        int64
Beds                        int64
Baths                       int64
Type                       object
Area_in_sqft                int64
Rent_per_sqft             float64
Rent_category              object
Frequency                  object
Furnishing                 object
Purpose                    object
Posted_date                object
Age_of_listing_in_days      int64
Location                   object
City                       object
Latitude                  float64
Longitude                 float64
dtype: object



Missing Values in Each Column:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73742 entries, 0 to 73741
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Address                 73742 non-null  object
 1   Rent                    73742 non-null  int64
 2   Beds                    73742 non-null  int64
 3   Baths                   73742 non-null  int64
 4   Type                    73742 non-null  object
 5   Area_in_sqft            73742 non-null  int64
 6   Rent_per_sqft           73742 non-null  float64
 7   Rent_category           73742 non-null  object
 8   Frequency               73742 non-null  object
 9   Furnishing              73742 non-null  object
 10  Purpose                 73742 non-null  object
 11  Posted_date             73742 non-null  object
 12  Age_of_listing_in_days  73742 non-null  int64
 13  Location                73742 non-null  object
 14  City                    73742 non-null  object
 15  Latitude                73023 non-null  float64
 16  Longitude               73023 non-null  float64
dtypes: float64(3), int64(5), object(9)
memory usage: 9.6+ MB
None
Address                     0
Rent                        0
Beds                        0
Baths                       0
Type                        0
Area_in_sqft                0
Rent_per_sqft               0
Rent_category               0
Frequency                   0
Furnishing                  0
Purpose                     0
Posted_date                 0
Age_of_listing_in_days      0
Location                    0
City                        0
Latitude                  719
Longitude                 719
dtype: int64

C:\Users\Pandi selvam\AppData\Local\Temp\ipykernel_27540\3276484914.py:57: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_cleaned = df[~df.applymap(contains_only_special_chars).any(axis=1)]

After cleaning (removing rows with only special characters or NaN in any column):
                                             Address    Rent  Beds  Baths  \
0  The Gate Tower 2, The Gate Tower, Shams Gate D...  124000     3      4
1                Water's Edge, Yas Island, Abu Dhabi  140000     3      4
2            Al Raha Lofts, Al Raha Beach, Abu Dhabi   99000     2      3
3  Marina Heights, Marina Square, Al Reem Island,...  220000     3      4
4                    West Yas, Yas Island, Abu Dhabi  350000     5      7

        Type  Area_in_sqft  Rent_per_sqft Rent_category Frequency  \
0  Apartment          1785      69.467787        Medium    Yearly
1  Apartment          1422      98.452883        Medium    Yearly
2  Apartment          1314      75.342466        Medium    Yearly
3  Penthouse          3843      57.246942          High    Yearly
4      Villa          6860      51.020408          High    Yearly

    Furnishing   Purpose Posted_date  Age_of_listing_in_days        Location  \
0  Unfurnished  For Rent  07-03-2024                      45  Al Reem Island
1  Unfurnished  For Rent  08-03-2024                      44      Yas Island
2    Furnished  For Rent  21-03-2024                      31   Al Raha Beach
3  Unfurnished  For Rent  24-02-2024                      57  Al Reem Island
4  Unfurnished  For Rent  16-02-2024                      65      Yas Island

        City   Latitude  Longitude
0  Abu Dhabi  24.493598  54.407841
1  Abu Dhabi  24.494022  54.607372
2  Abu Dhabi  24.485931  54.600939
3  Abu Dhabi  24.493598  54.407841
4  Abu Dhabi  24.494022  54.607372



Cleaned data saved to Dubai_House_Prediction.csv